<!-- デートピッカー -->
<md-input-container>
	<input
		mdInput
		placeholder="日付を入力してください..."
		[mdDatepicker]="myDatePicker"
		[mdDatepickerFilter]="datepicker.filter"
		[min]="datepicker.min"
		[max]="datepicker.max"
		[(ngModel)]="datepicker.model"/>
	<button mdSuffix [mdDatepickerToggle]="myDatePicker"></button>
</md-input-container>
<md-datepicker #myDatePicker [startAt]="datepicker.min" (selectedChanged)="changeDatePicker()"></md-datepicker>

<br>

<!-- タッチインターフェース -->
<md-input-container>
	<input mdInput [mdDatepicker]="pickerTouch"/>
	<button mdSuffix [mdDatepickerToggle]="pickerTouch"></button>
</md-input-container>
<md-datepicker #pickerTouch touchUi="true"></md-datepicker>
<button md-raised-button (click)="pickerTouch.open()">Open</button>