<!-- mdTooltip -->
<button md-raised-button mdTooltip="ツールチップ">Move Here!</button>

<br><br>

<!-- mdTooltipPosition -->
<div style="padding:50px">
	<button md-raised-button mdTooltip="position" mdTooltipPosition="left">left</button>
	<button md-raised-button mdTooltip="position" mdTooltipPosition="right">right</button>
	<br><br>
	<button md-raised-button mdTooltip="position" mdTooltipPosition="above">above</button>
	<button md-raised-button mdTooltip="position" mdTooltipPosition="below">below</button>
</div>

<!-- mdTooltipDisabled -->
<button md-raised-button mdTooltip="disavled" mdTooltipDisabled="false">disabled-false</button>
<button md-raised-button mdTooltip="disavled" mdTooltipDisabled="true">disabled-true</button>

<br><br>

<!-- mdTooltipShowDelay -->
<button md-raised-button mdTooltip="showDelay" mdTooltipShowDelay="1000">showDelay</button>

<!-- mdTooltipHideDelay -->
<button md-raised-button mdTooltip="hideDelay" mdTooltipHideDelay="1000">hideDelay</button>
